/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo h1 {
    font-size: 24px;
    margin-top: 10px;
}

/* Estilos das caixas de navegação */
nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}

.box {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.box a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos do conteúdo principal */
main {
    padding: 20px;
}